<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Roll Dice</title>
</head>
<body>

<h1>Here are your results!</h1>
<h2>The random number was: <span>th:text="${random}"</span></h2>
<h2>Your guess was: <span>th:text="${guess}"</span></h2>


<h3>th:text="${message}"></h3>


</body>
</html>