<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Roll Dice<</title>
</head>
<body>

<h1>Let's roll some dice!</h1>
<h3>Click on a number to guess.</h3>

<main>
    <h3> <a href="@{/rool-dice/1}">1</a></h3>
    <h3> <a href="@{/rool-dice/2}">2</a></h3>
    <h3> <a href="@{/rool-dice/3}">3</a></h3>
    <h3> <a href="@{/rool-dice/4}">4</a></h3>
    <h3> <a href="@{/rool-dice/5}">5</a></h3>
    <h3 ><a href="@{/rool-dice/6}">6</a></h3>
</main>

</body>
</html>